@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    width: 100vw;
}

#upper{
    display: flex;
    height: 10vh;
    /* justify-content: space-around; */
}

/* 햄버거 메뉴 */
#buger_menu{
    cursor: pointer;
    width: 3vw;
    display: flex;
    margin-left: 3vw;
    /* margin-top: 3vh; */
}

#buger_menu span{
    width: 2.5vw;
    height: .4vh;
    background-color: black;
    position: absolute;
}

/* 햄버거 닫혔을때 */
#buger_menu span:nth-child(1){
    top: 3vh;
}

#buger_menu span:nth-child(2){
    top: 4vh;
}

#buger_menu span:nth-child(3){
    top: 5vh;
}