@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
}

#rotate{
    width: 100dvh;
    height: 100dvw;
    transform: rotate(90deg);
    position: absolute;
    /* 가로 */
    /* width: 100dvw;
    height: 100dvh; */
}

#upper{
    display: flex;
    width: 100%;
    height: 12%;
    position: absolute;
    background-color: #b3aaa3;
    align-items: center;
}

/* 햄버거 메뉴 */
img{
    cursor: pointer;
    height: 60%;
    aspect-ratio: 1/1;
    display: flex;
    /* margin-top: 1.5%; */
    margin-left: 3%;
    margin-right: 3%;
}

/* 과목 */
#subject{
    font-size: 25pt;
    font-family: "Nanum Gothic";
}

/* 시간 */
#clock{
    font-size: 25pt;
    margin-left: auto;
    margin-right: 4%;
    /* line-height: 6.2vh; */
    z-index: 999;
    font-family: "Nanum Gothic";
    font-weight: bold;
    display: flex;
}

/* 왼쪽 텍스트 */
#left_cont{
    display: flex;
    width: 100%;
    height: 88%;
    position: absolute;
    top: 12%;
    overflow: hidden;
    background-color: #dbd7d4;
    align-items: center;
}

.left_text{
    width: 90%;
    height: 13%;
    margin-left: 4%;
    font-size: 30pt;
    cursor: pointer;
    display: flex;
    font-family: "Nanum Gothic";
}

.left_text span{
    border: 2px solid red;
}


/* 모달창 */
.modal{
    display: none;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal .modal_popup{
    position: absolute;
    top: 50%;
    left: 20%; 
    width: 120dvw;
    height: 45dvh;
    padding: 20px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
    transform: translateY(-50%);
    z-index: 999;
    overflow-y: auto;
}

.close_btn{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: 6dvw;
    height: 10dvh;
    /* overflow: hidden; */
    font-size: 25pt;
    display: inline;
    float: right;
    text-align: center;
    aspect-ratio: 1/1;
    position: sticky;
    top: -6%;
    margin-top: -30%;
}

.modal_popup .pop_p{
    width: 100dvw;
}

.modal_popup h3{
    width: 80%;
    font-size: 30pt;
    display: inline-block;
    margin-bottom: 2%;
}

.modal_popup p{
    margin-top: 3%;
    font-size: 4.5dvh;
}



/* 오른쪽 질문 */
/* #right_cont{
    width: 30%;
    height: 88%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12%;
    background-color: #e3dcd6;
}

.ques{
    width: 100%;
    font-size: 17pt;
    margin-top: 15%;
    margin-bottom: 20%;
    text-align: center;
    display: block;
}

.ques_text{
    width: 80%;
    text-align: center;
    display: block;
    font-size: 3.6dvh;
    margin-left: 11%;
    font-family: "Nanum Gothic";
    font-weight: bold;
} */